In [6]:
import pandas as pd

In [17]:
import numpy as np

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [15]:
df = pd.read_csv("/content/drive/MyDrive/Titanic_dataset.csv")

In [16]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [19]:
average_age_dead = df[df['Survived'] == 0]['Age'].mean()
print(f"Kazada ölenlerin yaş ortalaması: {average_age_dead:}")

Kazada ölenlerin yaş ortalaması: 30.62617924528302

In [22]:
average_ticket_fare = df[df['Survived'] == 0]['Fare'].mean()
print(f"Kazada ölenlerin bilet fiyatının ortalaması: {average_ticket_fare:}")

Kazada ölenlerin bilet fiyatının ortalaması: 22.117886885245902

In [23]:
median_ticket_fare = df[df['Survived'] == 0]['Fare'].median()
print(f"Kazada ölenlerin bilet fiyatının medyanı: {median_ticket_fare:}")

Kazada ölenlerin bilet fiyatının medyanı: 10.5

In [27]:
average_age_of_man = df[(df['Survived'] == 0) & (df['Sex'] == 'male')]['Age'].mean()
print(f"Kazada ölen erkeklerin yaş ortalaması: {average_age_of_man:}")

Kazada ölen erkeklerin yaş ortalaması: 31.618055555555557

In [25]:
average_age_of_woman = df[(df['Survived'] == 0) & (df['Sex'] == 'female')]['Age'].mean()
print(f"Kazada ölen kadınların yaş ortalaması: {average_age_of_woman:}")

Kazada ölen kadınların yaş ortalaması: 25.046875

In [28]:
average_age_live = df[df['Survived'] == 1]['Age'].mean()
print(f"Kazada kurtulanların yaş ortalaması: {average_age_live:}")

Kazada kurtulanların yaş ortalaması: 28.343689655172415

In [29]:
average_ticket_fare_of_live = df[df['Survived'] == 1]['Fare'].mean()
print(f"Kazada kurtulanların bilet fiyatının ortalaması: {average_ticket_fare_of_live:}")

Kazada kurtulanların bilet fiyatının ortalaması: 48.39540760233918

In [30]:
total_survived = df[df['Survived'] == 1].shape[0]
print(f"Toplam kurtulan kişi sayısı: {total_survived}")

Toplam kurtulan kişi sayısı: 342

In [31]:
ticket_fare_of_child = df[df['Age'] < 10]['Fare'].median()
print(f"10 yaşından küçüklerin bilet fiyatının medyan değeri: {ticket_fare_of_child}")

10 yaşından küçüklerin bilet fiyatının medyan değeri: 27.0

In [34]:
first_class_average = df[df['Pclass'] == 1]['Fare'].mean()
print(f"1. sınıf bilet fiyat ortalaması: {first_class_average}")
first_class_median = df[df['Pclass'] == 1]['Fare'].median()
print(f"1. sınıf bilet fiyat medyanı: {first_class_median}")

1. sınıf bilet fiyat ortalaması: 84.1546875
1. sınıf bilet fiyat medyanı: 60.287499999999994

In [35]:
second_class_average = df[df['Pclass'] == 2]['Fare'].mean()
print(f"2. sınıf bilet fiyat ortalaması: {second_class_average}")
second_class_median = df[df['Pclass'] == 2]['Fare'].median()
print(f"2. sınıf bilet fiyat medyanı: {second_class_median}")

2. sınıf bilet fiyat ortalaması: 20.662183152173913
2. sınıf bilet fiyat medyanı: 14.25

In [36]:
third_class_average = df[df['Pclass'] == 3]['Fare'].mean()
print(f"3. sınıf bilet fiyat ortalaması: {third_class_average}")
third_class_median = df[df['Pclass'] == 2]['Fare'].median()
print(f"3. sınıf bilet fiyat medyanı: {third_class_median}")

3. sınıf bilet fiyat ortalaması: 13.675550101832993
3. sınıf bilet fiyat medyanı: 14.25

In [37]:

dead_women = df[(df['Sex'] == 'female') & (df['Survived'] == 0)].shape[0]

survived_women = df[(df['Sex'] == 'female') & (df['Survived'] == 1)].shape[0]

ratio = dead_women / survived_women

print(f"Kazadan ölen kadınların, kurtulan kadınlara oranı: {ratio:.2f}")

Kazadan ölen kadınların, kurtulan kadınlara oranı: 0.35

In [38]:
dead_men = df[(df['Sex'] == 'male') & (df['Survived'] == 0)].shape[0]

survived_men = df[(df['Sex'] == 'male') & (df['Survived'] == 1)].shape[0]

ratio_men = dead_men / survived_men

print(f"Kazadan ölen erkeklerin, kurtulan erkeklere oranı: {ratio_men:.2f}")

Kazadan ölen erkeklerin, kurtulan erkeklere oranı: 4.29